mixin loginForm(loginFormObj)
	div(id=loginFormObj.id, class='login-form modal fade' tabindex='-1' role='dialog' aria-labelledby=loginFormObj.label aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				h3.login-form__title= loginFormObj.title
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
			.modal-body
				.container
					if loginFormObj.isNewUser
						input(type="text" placeholder="Username")
						input(type="text" placeholder="Username 2")
						input(type="text" placeholder="Username 3")
					else
						input(type="text" placeholder="Name")
						input(type="text" placeholder="Name 2")
						input(type="text" placeholder="Name 3")
