mixin storySection(storySectionObj)
	section.stories-section.py-5
		.container
			h2.section-title.section-title--smaller.section-title--right.mb-4= storySectionObj.title
			.row
				.col-md-3
					.stories-section__item
						a(href="#")
							img(src="http://placehold.it/50x50/333")
					.stories-section__item-info
						.stories-section__item-title

				.col-md-3
					.stories-section__item

				.col-md-3
					.stories-section__item

				.col-md-3
					.stories-section__item
