body {
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

img {
	width: 100%;
}

section {
	&:nth-child(even) {
		background: #fff;
	}

	&:nth-child(odd) {
		background: #FFFDFA;
	}

	.section-title {
		font-size: 2.5rem;
		font-weight: 700 !important;
		text-align: center;
		margin-bottom: 3rem;
		position: relative;
		padding-bottom: 1.75rem;

		&::after {
			position: absolute;
			content: '';
			display: block;
			background-color: $chiGong;
			width: 5%;
			height: .325rem;
			border-radius: .325rem;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			transition: .2s width ease;

			@include responsive(atSmall) {
				width: 10%;
			}
		}

		@include responsive(atSmall) {
			font-size: 1.625rem !important;
		}
	}

	.section-description {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;

		@include responsive(atMedium) {
			width: 50%;
		}
	}

	.section-subtitle {
		text-align: center;
		font-size: 1.5rem;
		margin-bottom: 1rem;

		@include responsive(atSmall) {
			font-size: 1.25rem !important;
		}
	}
}

.link-danger {
	text-decoration: none;
	color: $chiGong;
	font-weight: bold;

	&:hover {
		text-decoration: none;
		font-weight: bold !important;
		color: $americanRiver !important;
	}
}
