// Main SCSS

// Libraries
@import 'libs/all.min.scss';
@import 'libs/bootstrap.min.scss';
@import 'libs/owl.carousel.min.scss';

// Base
@import 'base/mixins';
@import 'base/vars';
@import 'base/globals';
@import 'base/styles-reset';

// Modules
@import 'modules/navbar';
@import 'modules/showcase';
@import 'modules/videos';
@import 'modules/_404.scss';
@import 'modules/testimonials';
@import 'modules/footer';
