//-
	- Main footer
// Footer
footer.site-footer.py-5.bg-dark.text-white
	.container
		.row
			.col-md-3.mb-4.mb-md-0.text-center.text-md-left
				.site-footer__logo-box
					h5.mb-3 Aqar Tech
					p Lorem ipsum dolor sit, amet consectetur adipisicing.
					//- Footer social media
					.mt-4
						a.social-icon(href="https://www.facebook.com/OktoblyWebsite" target="_blank")
							i.fab.fa-facebook
						a.social-icon(href="https://twitter.com/OktoblyWebsite" target="_blank")
							i.fab.fa-twitter
						a.social-icon(href="https://www.instagram.com/OktoblyWebsite" target="_blank")
							i.fab.fa-instagram
			// Legal info
			.col-md-3.mb-4.mb-md-0.text-center.text-md-left
				h5.mb-3 Legal Info.
				ul.site-footer__nav
					li.mb-3.mb-md-0
						i.fas.fa-caret-right
						a(href="#") About Us
					li.mb-3.mb-md-0
						i.fas.fa-caret-right
						a(href="#") About Us
					li.mb-3.mb-md-0
						i.fas.fa-caret-right
						a(href="#") About Us
					li.mb-3.mb-md-0
						i.fas.fa-caret-right
						a(href="#") About Us
			// Sitemap
			.col-md-3.mb-4.mb-md-0.text-center.text-md-left
				h5.mb-3 Sitemap
				ul.site-footer__nav
					li.mb-3.mb-md-0
						i.fas.fa-caret-right
						a(href="#") About Us
					li.mb-3.mb-md-0
						i.fas.fa-caret-right
						a(href="#") About Us
					li.mb-3.mb-md-0
						i.fas.fa-caret-right
						a(href="#") About Us
					li.mb-3.mb-md-0
						i.fas.fa-caret-right
						a(href="#") About Us
			// Contact info
			.col-md-3.mb-4.mb-md-0.text-center.text-md-left
				h5.mb-3 Contact Info
				ul.site-footer__nav
					li.mb-3.mb-md-0
						i.fas.fa-map-marker-alt
						span Riyadh, Saudi Arabia
					li.mb-3.mb-md-0
						i.fas.fa-envelope
						span example@domain.com
					li.mb-3.mb-md-0
						i.fas.fa-phone
						span (966) 123456
	.copyright.py-3.text-center.mt-3
		p Copyright &copy; <script>document.write(new Date().getFullYear())</script> - Aqar Tech
// footer-end
