include ../mixins/_testimonial-mixin

// Testimonials
section#testimonials.testimonials.text-center.py-5
	.container
		h2.section-title.mb-5 From Our Investors
		.owl-carousel
			+testimonial({ quote: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit suscipit ipsum illum maiores aliquid amet.', by: 'John Doe', job: 'Angle Investor' })
			+testimonial({ quote: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit suscipit ipsum illum maiores aliquid amet.', by: 'John Doe', job: 'Angle Investor' })
			+testimonial({ quote: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit suscipit ipsum illum maiores aliquid amet.', by: 'John Doe', job: 'Angle Investor' })
			+testimonial({ quote: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit suscipit ipsum illum maiores aliquid amet.', by: 'John Doe', job: 'Angle Investor' })
			+testimonial({ quote: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit suscipit ipsum illum maiores aliquid amet.', by: 'John Doe', job: 'Angle Investor' })
// testimonials-end
