extends ./layouts/default

//- Blocks
block pageTitle
	title الرئيسية | موقع فيلو للمحتوى القصصي

block navbar
	- let activePage = 'home'
	include ./partials/_navbar

block content
	// Showcase
	section.showcase
		.container
			.row
				.col-lg-6
					h1.mt-0.mt-md-5.pt-5.font-weight-bolder كل تفصيلة ببلدك.. هنحكيها لابنك
					button.btn.btn-danger.btn-lg.rounded-pill.mt-5 جرّب الآن

				.col-lg-6
					.showcase__image
						img.img-fluid(src='images/showcase-bg.png' alt='')
	// showcase-end
	|
	|
	// Videos
	section#videos-section.videos.py-5
		h2.section-title.mb-3 بلدك في فيديو!
		p.section-description شاهد المئات من قصص الأطفال المتنوعة من قصص تاريخية وحيوانات وقصص تعزز قيم مجتمعية
		.mt-5.owl-carousel
			.videos__item
				img(src="https://placehold.it/300/300", alt="")


	// videos-end
	|
	|
	// Plans
	section.plans.py-5
		.section-title.mb-3 خطط الاشتراك
		.section-description مستعد لإعداد مكتبتك؟ اختر مدة الاشتراك التي تناسبك

	// plans-end
	|
	|
	// Testimonials
	section.testimonials.py-5
		.section-title.mb-3 آراء مستخدمينا الصغار

	// testimonials-end
